html {
    scroll-behavior: smooth;
    scrollbar-width: 1px;
}
body {
    background-color: #ddeffd;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

/* Loader */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 900;
    
}
#loader-canceler {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    height: 50px;
    opacity: 0;
    transform: translateY(-100%);
    cursor: pointer;
}
#loader {
    height: 60px;
    animation: loader 2s linear infinite;
}
@keyframes loader {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
}

/* HEADER */
/* header {
    background-image: url('img/quizzito_header.png');
    background-size: 100% 100%;
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.header-title {
    position: relative;
    width: max-content;
    padding: 10px;
    padding-top: 100px;
}
#header-letter-q {
    color: #0080ff;
    font-weight: bolder;
    font-size: 8em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.699);
}
.welcome-to {
    position: absolute;
    top: 120px;
    right: 0;
    color: rgb(153, 0, 255);
    font-size: 1.5em;
    padding-right: 10px;
}
#remaining-letters {
    color: #0080ff;
    font-size: 5em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
}
#welcome-statement {
    position: relative;
    height: max-content;
    margin: 20px;
    margin-top: 200px;
    max-width: 500px;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    float: right;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.288);
    z-index: 900;
}
#welcome-statement p {
    font-size: 1.5em;
}
#welcome-statement a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0080ff;
    background-image: linear-gradient(150deg, #ff00ff, #b71dff);
    border-radius: 10px;
    padding: 20px 0;
    min-width: 100px;
    max-width: 200px;
    transition: 0.3s all linear;
}
#welcome-statement a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.404);
}
#wave-container {
    position: absolute;
    top: 600px;
    height: 495px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
#wave {
    display: flex;
    height: 295px;
    width: 500%;
    transition: 1s all linear;
}
#wave1, 
#wave2 {
    height: 490px;
    width: 5000px;
    transition: 1s all linear;
}
#wave1 {
    animation: wave1 50s infinite linear;
    animation-delay: 25s;
    transform: translateX(0%);
}
#wave2 {
    animation: wave2 50s infinite linear;
}

@keyframes wave1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes wave2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width: 700px) {
    header {
        background-size: cover;
    }
}
@media screen and (max-width: 400px) {
    #welcome-statement {
        padding: 40px;
    }
    #welcome-statement p {
        font-size: 1.2em;
    }
    #remaining-letters {
        font-size: 4em;
    }
    .welcome-to {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 340px) {
    #welcome-statement p {
        font-size: 1em;
    }
    #remaining-letters {
        font-size: 3em;
    }
} */

/* MAIN CONTENT */
main {
    margin-top: 100px;
    padding: 0 10px;
}
.welcome-remark {
    margin: auto;
    padding: 40px 0;
    text-align: center;
    max-width: 1100px;
    min-width: 200px;
}
.welcome-remark h1 {
    margin: auto;
    padding: 30px 50px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 3em;
    color: #ddeffd;
    background-image: linear-gradient(150deg, #af00ff, #0080ff);
}
.welcome-remark p {
    font-family: Poppins;
    font-size: 2em;
    font-weight: bolder;
    line-height: 48px;
    letter-spacing: 5px;
}
#hint {
    margin: auto;
    padding: 12px 0;
    max-width: 750px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 4px;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: white;
    background: #5542ff;
    cursor: pointer;
}
#to-top {
	position:fixed;
	bottom:-70px;
  opacity: 0;
	right:10px;
	border:none;
	outline:none;
	background-color:rgba(255, 0, 0, 0.658);
	color:white;
	cursor:pointer;
	padding:15px;
	border-radius:10px;
  font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
  transition: 0.5s all linear;
  z-index: 10;
}
#to-top:hover {
	cursor: default;
    background-color: red;
}

/* Navigation Bar */
nav img {
    height: 50px;
}
.new-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid #bbbbbb2f;
    transition: 0.5s all linear;
    z-index: 20;
}
.q-logo-box {
    float: left;
    padding: 0 7px;
}
.mobile-nav {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 45px;
    width: 50px;
    margin-right: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.mobile-menu {
    height: 100%;
    width: 100%;
}
.non-mobile-nav {
    margin-right: 70px;
    text-align: right;
    height: 100%;
    overflow: hidden;
}
.non-mobile-nav a, 
.non-mobile-nav span {
    display: inline-block;
    padding: 15px 5px;
    margin-top: 5px;
    text-decoration: none;
    color: #0080ff;
    font-size: 1.1em;
}
.nav-links {
    cursor: pointer;
    transition: 0.2s all linear;
}
.nav-links:hover {
    transform: scale(1.1) translateY(-10%);
    color: #0065ca;
}

/* Why Quiz and Qgen section */
.typer-section, 
.typer-main-section-intro {
    padding: 20px 35px;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
}
#typer-btn {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 50px;
    font-family: Comfortaa;
    font-size: 1.1em;
    background-color: #0080ff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.1s all linear;
}
#typer-btn:hover {
    cursor: pointer;
    background-color: #2d96ff;
}
#typer-btn:active {
    transform: scale(0.9);
}
.typer-paragraph {
    word-break: break-word;
    text-align: left;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: rgba(143, 143, 143, 0.11);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.11);
}
.qgen-div, 
.typer-main-section {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
    overflow: hidden;
}
.qgen-div {
    background-color: #003964;
    background-image: url('img/qgen.png');
}
.typer-main-section {
    display: block;
    text-align: center;
    margin-bottom: 200px;
    padding: 100px 20px;
    background-color: #254e8c;
    background-image: url('img/why_quiz.jpg');
    overflow: visible;
}
.qgen-div-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    transition: 0.3s all linear;
    overflow: auto;
}
.qgen-div-cover:hover {
    background-color: rgba(0, 0, 0, 0.692);
}
.qgen-div-cover p {
    color: white;
    font-size: 1.7em;
    max-width: 600px;
    padding: 40px;
}
.typer-main-section-intro {
    text-align: left;
    font-family: Raleway;
    font-weight: lighter;
    background: none;
    color: white;
}
#why-quiz-heading {
    font-size: 4em;
}
#why-quiz-paragraph {
    font-size: 2em;
}
.qgen-btn {
    margin-top: 40px;
    padding: 20px 60px;
    background-color: transparent;
    color: white;
    font-size: 19px;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.2s all linear;
    cursor: pointer;
}
.qgen-btn:hover {
    background-color: #0080ff;
    border: 1px solid #0080ff;
}
.typer-main-section .box1, 
.typer-main-section .box2 {
    margin-bottom: 10px;
    min-width: 230px;
    max-width: 100%;
    height: fit-content;
}
.box1 {
    margin-top: -100px;
}
.box2 {
    position: relative;
    margin: 0 auto;
}
.typer-section {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
}

/* Course Cards */
.imagebox_whyus{
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: rgb(0, 0, 0);
}
.imagebox_whyus .main_box_title{
    display: block;
    font-size: 3em;
    margin: 30px 0;
}
.imagebox_whyus .tile{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    height: 310px;
    width: 500px;
    max-width: 85%;
    margin: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.imagebox_whyus .tile_content{
    position: relative;
    top: 0;
    width: 100%;
    height: 200%;
    transition: 0.5s all cubic-bezier(.77,0,.18,1);
}
.imagebox_whyus .tile_cover{
    display: inline-block;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    background-position: center;
}
.imagebox_whyus .hidden_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 5%;
    transition: 0.2s all linear;
}
.hidden_content .hc_title{
    display: block;
    font-family: Raleway;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 200px;
    margin-left: 10px;
}
.hidden_content .hc_text{
    display: block;
    margin-top: 60px;
    font-size: 1.2em;
}
.tile-btn {
    position: absolute;
    right: 10px;
    bottom: 175px;
    border: none;
    border-radius: 4px;
    padding: 15px 35px;
    font-size: 1em;
    color: white;
    background-color: #0080ff;
    transition: 0.1s all linear;
    /* z-index: 100; */
}
.tile-btn:hover {
    background-color: #2d96ff;
}
.tile-btn:active {
    transform: scale(0.9);
}

/* For About Page */
.about-remark{
    padding-left: 20px;
    max-width: 1200px;
}
.about-page-headings {
    font-family: Raleway;
    font-weight: 600;
    font-size: 2rem;
    color: #0080ff;
}
.about-page-parags {
    text-align: left;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
}
.myself {
    max-width: 700px;
    height: fit-content;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.123);
}
#myself-header {
    font-size: 2em;
    padding: 10px;
}
.myself img {
    width: 250px;
    float: left;
    margin: 10px;
    border-radius: 5px;
}
.myself-para {
    font-family: Quicksand;
    font-size: 1.4em;
    padding: 10px;
}

/* Footer */
.footer-icons {
    padding: 10px;
    color: black;
    font-size: 1.5em;
    transition: 0.5 all linear;
}
.footer-icons:hover {
    color: white;
}


@media screen and (max-width: 1340px) {
    .imagebox_whyus .tile {
        max-width: 100%;
        width: 100%;
        margin: 20px 0;
    }
    .tile_cover {
        background-size: cover;
    }
}