* {
    box-sizing: border-box;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    height: -webkit-fitcontent;
    height: -moz-fit-content;
    height: fit-content;
    /*display: flex;
    flex-direction: column;*/
}

/* Questions Section */
#quiz-header {
    color: #0080ff;
    text-align: center;
}
.questions-form {
    /*position: relative;*/
    margin: 15px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
}
.question-tiles {
    margin: auto;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    min-width: 200px;
    padding: 35px 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 0 10px 0 rgba(165, 165, 165, 0.24);
}
.questions-form ol {
    padding: 0;
}
.questions-form li {
    line-height: 0;
    margin-left: 25px;
    word-wrap: break-word;
    line-height: 22px !important;
}
.questions-form pre {
    white-space: pre-wrap;
}
.options {
    line-height: 25px;
    margin-left: 10px;
}
.options span:active {
    color: #0080ff;
}
.questions-form button {
    background-color: #0080ff;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.1s all linear;
}
.questions-form button:active {
    transform: translateY(5%);
}
#timer {
    position: sticky;
    padding: 10px 30px;
    border-radius: 4px;
    top: 65px;
    color: #0080ff;
    background-color: rgba(255, 255, 255, 0.829);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    z-index: 8;
}

/* Hidden Menu (Mobile View) and Side Menu */
#side-menu-main-header {
    text-align: center;
    color: #0080ff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.hidden-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    display: none;
    overflow: auto;
    cursor: pointer;
    z-index: 11;
}
.hidden-menu a {
    text-decoration: none;
    color: #0080ff;
}
#pust-the-rest-down {
    margin-top: 70px;
}
#h, 
.hidden-menu-top-headers {
    font-weight: bold;
    font-size: 1.2em;
}
.hidden-menu-top-headers {
    padding: 7px;
    margin: 5px 10px;
    color: #0080ff;
}
#h:hover, 
.hidden-menu-top-headers:hover {
    text-decoration: underline;
}
.Side-menu {
    position: fixed;
    top: 58px;
    height: 50vh;
    width: 220px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(255, 255, 255, 0); upcoming update*/ 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /*box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.05);*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    z-index: 8;
    overflow: auto;
    cursor: pointer;
    transition: 0.5s all linear;
}
.sub-menu{
    margin: 5px 10px;
    font-size: 17px;
    color: #0080ff;
    overflow: hidden;
    height: 34px;
    transition: 0.3s all linear;
}
.menu, 
.side-menu-headers {
    display: block;
    padding: 7px;
    transition: 0.1s all linear;
}
.menu {
    background-color: rgba(230, 230, 230, 0.274);
    border-top: 1px solid rgb(223, 223, 223);
}
.menu:hover{
    background-color: #0080ff;
    color: white;
}

/* Footer Section */
footer {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    background-color: #0080ff;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9;
}

#footer-form {
    display: flex;
    justify-content:center;
}

#footer-form p {
    font-size: 26px;
    margin-right: 30px;
}

#footer-form input {
    padding: 1rem;
    width: 30rem;
    border-radius: 10px;
    border-style: none;
    font-size: large;
}

#footer-form button {
    width: 10rem;
    padding: 19.5px 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #0080ff;
    transition: 0.1s all linear;
    cursor: pointer;
}
#footer-form button:hover {
    background-color: rgb(241, 241, 241);
}
#footer-form button:active {
    transform: translateY(5%);
}

#footer-content {
    display: flex;
    justify-content: space-around;
}

#footer-about {
    width: 30%;
    text-align: left;
}
#footer-about h1 {
    font-family: Raleway;
}
#api-list{
    line-height: 30px;
}

#api-list a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.56s;
}

#api-list a:hover {
    color: #fff;
    transform: scale(1.2);
}

#footer-icons img {
    width: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: 0.56s;
}

#footer-icons img:hover {
    background-color: #fff;
    transform: scale(1.5);
    
}

@media screen and (max-width: 906px) {
    #footer-form {
        margin-left: 10px;
    }

    #footer-form input {
        width: 100%;
    }

    #footer-form button {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #footer-content {
        display: block;
    }

    #footer-about {
        text-align: center;
        width: 100%;
    }
}

/* Quiz buttons */
#submit-btn, 
.style1-btn{
    background-color: #0080ff;
    padding: 15px 50px;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.1s all linear;
    cursor: pointer;
}
#submit-btn:hover {
    background-color: #2d96ff;
}
#submit-btn:active {
    transform: translateY(10%);
}
.home-btn {
    background-color: #0080ff1f;
    color: #0080ff;
}
.try-again-btn {
    background-color: #0080ffc7;
}
.try-again-btn:hover {
    background-color: #0080ff98;
}
.result-btn {
    background-color: #0080ff;
}
.home-btn:hover {
    transform: translateX(-5%);
}
.result-btn:hover {
    transform: translateX(5%);
}
.style1-btn:active {
    transform: translateY(10%);
}
#after-quiz-btns {
    display: none;
}

/* CSS for Q-gen page */
.qgen-header {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px;
    text-align: center;
    max-width: 800px;
}
.qgen-header h1 {
    font-size: 2.4em;
}
.qgen-header p {
    font-size: 1.1em;
    line-height: 25px;
}
.qgen-category-section, 
.qgen-difficulty-section, 
.qgen-amount-of-questions-section {
    margin: 0 auto;
    margin-top: 10px;
    background: white;
    padding: 10px 15px 33px 15px;
    border-radius: 10px;
    max-width: 600px;
}
.qgen-form h3 {
    font-size: 1.2em;
    font-family: Poppins;
    color: #0080ff;
}
input[type=number] {
    margin-bottom: 5;
    font-size: 1.1em;
    width: 100px;
    padding: 7px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}
input[type=number]:focus {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=radio] {
    color: #0080ff;
    accent-color: #0080ff; /* Unsupported in samsung browsers */
    width: 18px;
    height: 18px;
}
#qgen-btn {
    margin: 0 auto;
    text-align: center;
}
#qgen-btn {
    margin-top: 25px;
    padding: 20px 50px;
    font-family: Comfortaa;
    font-size: 1.1em;
    background-color: #0080ff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.1s all linear;
}
#qgen-btn:hover {
    cursor: pointer;
    background-color: #2d96ff;
}
#qgen-btn:active {
    transform: scale(0.9);
}
.qgen-form label {
    line-height: 24px;
}
.qgen-error-msg {
    font-size: small;
    color: red;
}