<!-- messed with by Demiz -->

{% extends 'master_template.html' %}
{% load static %}
{% load demiztags %}

<!-- META TAGS -->
{% block DESCRIPTION %}Quizzito was created to help developers learning
how to program test their knowledge in the
field they are pursuing.{% endblock %}
{% block KEYWORDS %}Quizzito, About Quizzito, Quiz, Demiz, Emmanuel Eddie Joshua Kweh, Emmanuel{% endblock %}

{% block og_url %}about{% endblock %}

{% block og_img %}static/img/qgen.png{% endblock %}

{% block og_img_alt %}Quiz Quiz Quiz{% endblock %}

{% block tt_img %}static/img/qgen.png{% endblock %}

{% block tt_img_alt %}Quiz Quiz Quiz{% endblock %}

{% block PAGE_TITLE %}About{% endblock %}


<span hidden>{% block body_attr %}onresize="screensizeDetector();"{% endblock %}</span> 

{% block CONTENT %}    
        <div class="about-remark tiny-gap-bottom">
            <h1 class = "about-page-headings">About Us</h1>
            <p class = "about-page-parags">
                This site was created to help developers learning how to program test their knowledge
                in the field they are pursuing.
            </p>
            <p class = "about-page-parags">
                The website has quiz on various programming laguages which give our users the ability
                to test themselves in more than one programming language.
            </p>
            <p class = "about-page-parags">
                The quizes has also been structured in a way that the user starts from a beginner level(quiz 1-4)
                and to the intermediate level(quiz 5-8) and then advance level(quiz 9-10).

            </p>
        </div>

        <div class="about-remark tiny-gap-bottom">
            <h1 class = "about-page-headings">Privacy Policy</h1>
            <p class = "about-page-parags">
                This Privacy Policy describes how Quizzito collects, uses, and shares your 
                personal information when you visit our website.
            </p>
            <h2 style="color: #0080ff;">Personal Information</h2>
            <p class = "about-page-parags">
                We collect only email address when you voluntarily provide it to us by subscribing for out newsletter. 
                We use this data to provide you with our newsletter and updates, your data is secured with us as we 
                do not share this data.
            </p>
            <h2 style="color: #0080ff">Your Choice</h2>
            <p class = "about-page-parags">
                You can easily unsubscribe by clicking the 'Unsubscribe' button at the bottom of the message in every 
                mail we send you.
            </p>
            <h2 style="color: #0080ff">Changes to This Privacy Policy</h2>
            <p class = "about-page-parags">
                We may update this Privacy Policy from time to time. If we make any material changes, we will notify 
                you by email or by posting a notice on our website.
            </p>
            <h2 style="color: #0080ff">Cookie</h2>
            <p class = "about-page-parags">
                We use cookie to ensure user security on this website, this includes no personal data.
            </p>
            <h2 style="color: #0080ff">Contact Us</h2>
            <p class = "about-page-parags">
                If you have any questions about this Privacy Policy, please contact us at <a href = "mailto:koders.notify.gh@gmail.com?subject = Updates/Feedback">koders.notify.gh@gmail.com</a>
            </p>
        </div>

        <h1 class = "about-page-headings">Developer</h1>
        <article class="myself tiny-gap-bottom">
            <img src="{% static 'img/demiz.jpg' %}" alt="Author of Quizzito, Emmanuel Eddie Joshua Kweh picture">
            <h1 id="myself-header">About Author</h1>
            <p class="myself-para">
                Hello and welcome to my website! My name is Emmanuel Eddie Joshua Kweh 
                (Demiz) and I am a 21-year-old web developer from Ghana. I have been programming 
                for 3 years and I love creating websites that are user-friendly, 
                responsive and dynamic. I have experience in HTML, CSS, Python, Django, 
                JavaScript and SQL, and I am always eager to learn new technologies and 
                improve my skills. My goal is to become a full-stack developer and create web 
                applications that can solve real-world problems and make a positive impact. 
                I hope you enjoy browsing this quiz website and feel free to contact me if 
                you have any questions or feedback. Thank you for visiting!
            </p>
        </article>
        {% include 'contributors.html' %}
        <button onclick="document.documentElement.scrollTop = 0;" id="to-top" title="Go to top">↑↑</button>
{% endblock %}
