{% load static %}


<h1 class="about-page-headings">Contributors</h1>
<div class="qs-team-members-container">
    <div class="qs-team-member-card">
        <div class="qs-team-member-img-container">
            <img src="{% static 'img/Richard.jpg' %}" class="qs-team-member-img" alt="Richard's Picture">
        </div>
        <div class="qs-team-member-content">
            <span class="qs-team-member-name qs-color-b">Richard Shepherd</span><br>
            <small class="qs-team-member-title tiny-gap-bottom">Fullstack Developer</small>
        </div>
        <a href="tel:+233261254475"><button class="qs-btn1 qs-to-botom-left" title="Contact Richard Shepherd via direct call">Contact</button></a>
        <a href="tel:+233261254475" title="Call"><span class="material-symbols-rounded qs-team-member-icons qs-to-top-right-top">call</span></a>
        <a href="https://wa.link/jnvhqh" title="Whatsapp"><i class="fa-brands fa-whatsapp qs-team-member-icons qs-to-top-right-bottom"></i></a>
    </div>
    <div class="qs-team-member-card">
        <div class="qs-team-member-img-container">
            <img src="{% static 'img/Alfredo.png' %}" class="qs-team-member-img" alt="Richard's Picture">
        </div>
        <div class="qs-team-member-content">
            <span class="qs-team-member-name qs-color-b">Alabi Alfred</span><br>
            <small class="qs-team-member-title tiny-gap-bottom">Software Developer</small>
        </div>
        <a href="tel:+233203328960"><button class="qs-btn1 qs-to-botom-left" title="Contact Alabi Alfred via direct call">Contact</button></a>
        <a href="tel:+233203328960" title="Call"><span class="material-symbols-rounded qs-team-member-icons qs-to-top-right-top">call</span></a>
        <a href="https://wa.link/8kh2gq" title="Whatsapp"><i class="fa-brands fa-whatsapp qs-team-member-icons qs-to-top-right-bottom"></i></a>
    </div>
    <div class="qs-team-member-card">
        <div class="qs-team-member-img-container">
            <img src="{% static 'img/nic.jpg' %}" class="qs-team-member-img" alt="Richard's Picture">
        </div>
        <div class="qs-team-member-content">
            <span class="qs-team-member-name qs-color-b">Nicholas Amemazior</span><br>
            <small class="qs-team-member-title tiny-gap-bottom">Computer Engineer</small>
        </div>
        <a href="tel:+233592161159"><button class="qs-btn1 qs-to-botom-left" title="Contact Alabi Alfred via direct call">Contact</button></a>
        <a href="tel:+233592161159" title="Call"><span class="material-symbols-rounded qs-team-member-icons qs-to-top-right-top">call</span></a>
        <a href="https://wa.link/97bhv2" title="Whatsapp"><i class="fa-brands fa-whatsapp qs-team-member-icons qs-to-top-right-bottom"></i></a>
    </div>
</div>