<!-- messed with by Demiz -->

{% load static %}
{% load demiztags %}

{% for i in 10|loop %} 
  <div class="tile">
    <div class="tile_content" id="tile_content">
      <span class="tile_cover" id="_cover" style="background-color: {% cycle '#040d0d' '#d1b1ea' '#f6d001' '#2a97cf' '#1a037c' '#11379f' '#9b0107' '#aa2a62' '#505050' '#340d72' %}">
      </span>
      <span class="hidden_content" id="hiddenContent">
        <span class="hc_title" id="courseID"></span>
        <span class="hc_text" id="_description"></span>
        <div align='right'>
            <button class="tile-btn" id="_courseCard_button" onclick="linkTo(this.id)">begin &gt;&gt;</button>
        </div>
      </span>
    </div>
  </div>
{% endfor %}
