<!-- messed with by Demiz -->

{% load static %}

<footer class="qs-regular-gap-top">
    <!-- <form id="footer-form" action="feedback" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Feedback</p>
        <div style="margin-top: 12px">
            <input type="email" name="feedback_email" id="" placeholder="Enter email address" required>
            <button type="submit">SUBMIT</button>
        </div>
    </form> -->

    <div id="footer-content">
        <div id="footer-about">
            <h1>QUIZZITO</h1>
            <p>This site was created to help developers learning
                how to program test their knowledge in the
                field they are pursuing. The site was built by 
                professional programmers, members of the Koders 
                Developer team.
            </p>
        </div>

        <div id="footer-api">
            <h2>Contact Info</h2>
            <div id="api-list">
                <a href="tel:+233509712818">+233509712818</a> / <a href="tel:+233000000000">+233000000000</a> <br>
                <a href = "mailto:koders.notify.gh@gmail.com?subject = Updates/Feedback">koders.notify.gh@gmail.com</a> <br>
                <a href="about">Developer Info</a>
            </div>
        </div>

        <div id="footer-follow">
            <h3>FOLLOW US</h3>
            <div id="footer-icons">
                <a href="#"><img src="{% static 'icons/github-logo-6532.png' %}" alt="github-icon" title='visit our github page'></a>
                <a href="#"><img src="{% static 'icons/facebook-5213.png' %}" alt="fb-icon" title='visit our facebook page'></a>
                <a href="#"><img src="{% static 'icons/twitter-2170.png' %}" alt="twitter-icon" title='visit our twitter page'></a>
            </div>
        </div>
    
    </div>
    &copy; Copyright 2023
</footer>