<!-- messed with by Demiz -->

{% load static %}

<footer class="qs-regular-gap-top">

    <div id="footer-content">
        <div id="footer-about">
            <h1>QUIZZITO</h1>
            <p>This site was created to help developers learning
                how to program test their knowledge in the
                field they are pursuing. The site was built by 
                professional programmers, members of the Koders 
                Developer team.
            </p>
        </div>

        <div id="footer-api">
            <h2>Contact Info</h2>
            <div id="api-list">
                <a href="tel:+233509712818">+233509712818</a> / <a href="tel:+233530972529">+233530972529</a> <br>
                <a href = "mailto:koders.notify.gh@gmail.com?subject = Updates/Feedback">koders.notify.gh@gmail.com</a> <br>
                <a href="about">Developer Info</a>
            </div>
        </div>

        <div id="footer-follow">
            <h3>FOLLOW US</h3>
            <div id="footer-icons">
                <a href="https://github.com/De-miz"><i class="fa-brands fa-github footer-icons"></i></a>
                <a href="https://wa.link/1icmwr"><i class="fa-brands fa-whatsapp footer-icons"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in footer-icons"></i></a>
            </div>
        </div>
    
    </div>
    &copy; Copyright 2023
</footer>