{% load static %}

<!--Contain the element that are supposed to be in the head of the page.-->


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Quizzito, Quiz, Lessons, Python, HTML, React">
<meta name="revised detail" content="last updated time">
<meta name="author" content="Koders">
<meta name="description" content="this is for content writers...">
<link rel='icon' href="{% static 'logos/quizzito_logo.png' %}" type="image/x-icons">
<link rel="stylesheet" href="{% static 'font.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'pop_ups.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'quiz.css' %}" type="text/css">
<title>Quizzito</title>
