<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    {% include 'head.html' %}
</head>

<body onresize="screensizeDetector();" onload="">
    <noscript>You must enable JavaScript in your browser in order to run this site</noscript>
    <!-- The above sentence is dumb abeg someone put something nice for there -->

    {% include 'navigationbar.html' %}
    {% include 'pop_ups.html' %}

    {% include 'sidemenu.html' %}

    <main id="main">
        <div class="welcome-remark">
            <h1>WELCOME TO QUIZZITO</h1>
            <p>
                where you examine yourself to know how good you are in 
                some programming languages.
            </p>
            <div id="hint" title="Start your journey now!">select your preffered language from the side menu</div>
        </div>
        <button onclick="document.documentElement.scrollTop = 0;" id="to-top" title="Go to top">↑↑</button>

        <div class='typer-main-section'>
            <div class="box1">
                <div class="typer-main-section-intro">
                    <h1>Why Quiz?</h1>
                    <p>
                        Quizzes serve as an effective assessment tool that 
                        can help to reinforce learning and motivate learners to engage with the material.
                    </p>
                </div>
            </div>

            <div class="box2">
                <div class="typer-section">
                    <p class="typer-paragraph" id="typer-paragraph"></p>
                    <div align="center">
                        <a id="typer-topic-link-id" href="php-quiz-1">
                            <button id="typer-btn" onclick="stopTyper()">Answer >></button>
                        </a>
                    </div>
                </div>-
            </div>
        </div>


        <div class="imagebox_whyus">

            <span class="main_box_title">Start Your Journey Now</span>
            <!-- Add new courses here -->

            {% include 'course_card.html' %} <!-- Python Card -->
            {% include 'course_card.html' %} <!-- HTML Card -->
            {% include 'course_card.html' %} <!-- JavaScript -->
            {% include 'course_card.html' %} <!-- CSS3 -->
            {% include 'course_card.html' %} <!-- C card -->
            {% include 'course_card.html' %} <!-- C++ card -->
            {% include 'course_card.html' %} <!-- Java -->
            {% include 'course_card.html' %} <!-- PHP card -->

            <span id="initiatFeedbackEmailBox" hidden>{{ initiatFeedbackEmailBox }}</span>
    
        </div>

        <!-- Qgen Section (Home Page) -->
        <div class="qgen-div">
            <div class="qgen-div-cover">
                <p>
                    Q-gen is a quiz generator that allows users customize their quizzes, with 
                    Q-gen you can generate your own custom quiz by spicifying the amount of 
                    questions you want and the difficult level of the quiz.
                    <br><a href="qgen"><button class="qgen-btn">Get Started</button></a>
                </p>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="{% static 'scripts/scripts.js' %}"></script>
</body>
</html>