<!-- messed with by Demiz -->

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="revised detail" content="last updated time">
    <meta name="author" content="Koders, Emmanuel Eddie Joshua Kweh, Demiz">
    <meta name="keywords" content="{% block KEYWORDS %}{% endblock %}">
    <meta name="description" property="og:description" content="{% block DESCRIPTION %}{% endblock %}">
    <meta name="robots" content="index, follow">
    <meta name="og:type" content="website">
    <meta name="application-name" content="Quizzito">
    <meta property="og:url" content="https://quizzito.pythonanywhere.com/{% block og_url %}{% endblock %}"/>
    <meta property="og:image" content="https://quizzito.pythonanywhere.com/{% block og_img %}{% endblock %}" />
    <meta property="og:image:alt" content="{% block og_img_alt %}{% endblock %}" />
    <meta name="twitter:image" content="https://quizzito.pythonanywhere.com/{% block tt_img %}{% endblock %}" />
    <meta property="twitter:image:alt" content="{% block tt_img_alt %}{% endblock %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@demizbehave" />
    <meta name="google-site-verification" content="0OpN2tC4H9OG4SEOnu3twpfRQ2N5_3Wl7b5YCX-LRY0" />
    <link rel='icon' href="{% static 'logos/quizzito_logo.png' %}" type="image/x-icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'font.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pop_ups.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'quiz.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'quizzito-style.css' %}" type="text/css">
    <script src="{% static 'scripts/index.js' %}"></script>
    <script src="{% static 'scripts/global.js' %}"></script>
    {% block HOME_PAGE_SCRIPT %}{% endblock %}
    <title>{% block PAGE_TITLE %}{% endblock %}</title> 
    <script src="https://kit.fontawesome.com/d26cb7d64e.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8982625370899897" crossorigin="anonymous"></script>
</head>

<body {% block body_attr %}{% endblock %}>

    <div id="loader-container">
        <img id="loader-canceler" src="{% static 'icons/cancel_icon.png' %}" alt="hi" onclick="closeLoader();">
        <img id="loader" src="{% static 'logos/quizzito_logo.png' %}" alt="Loading...">
    </div>

    <noscript>You must enable JavaScript in your browser in order to run this site</noscript>
    <!-- The above sentence is dumb abeg someone put something nice for there -->

    {% include 'navigationbar.html' %}
    {% include 'pop_ups.html' %}
    {% include 'sidemenu.html' %}

    {% block HEADER %} 
    <!-- Page header comes here -->

    {% endblock %}
    <main id="main" {% block main_attr %}{% endblock %}>
        {% block CONTENT %}
        <!-- Page content comes here -->
        
        {% endblock %}
    </main>

    {% include 'footer.html' %}
    <script src="{% static 'scripts/scripts.js' %}"></script>
    {% block ADDITIONAL_SCRIPTS %}{% endblock %}
</body>

</html>