<!-- messed with by Demiz -->

{% load static %}

<!-- Quiz Result -->
<div class="popup" id="result-background" onclick="$displayManager(this, new fade_args({elemID: this.id, direction: 'middle', scale: 0.5, speed: 1, steps: 30}))">
    <div class="result" id="result-background-main-box">
        <img onclick="$displayManager(quizResult, new fade_args({elemID: quizResult.id, direction: 'middle', scale: 0.5, speed: 1, steps: 30}))" src="{% static 'icons/cancel_icon.png' %}" alt="cancel-button" align="right" title="Exit">
        <h2 name="quiz-level"></h2>
        <p class="score" id="score-result">Score: {{user_score}}%</p>
        <p class="result-detail" name="quiz-category"></p>
        <p class="result-detail" name="quiz-difficulty"></p>
        <p class="result-detail" id="time-taken"></p>
        <p class="result-detail" name="total-questions"></p>
        <p class="result-detail" id="attempts">Total Attempts: {{attempted_qst_count}}</p>
        <p class="result-detail" id="answered">{{answered_qst_count}}</p>
        <p id="incorrects" class="result-detail">incorrects: {{incorrects}}</p>
        <div align="center"><a href="#" onclick="tryAgainQuiz();"><button class="quiz-initializer-btn" title="Attempt this quiz again">Try Again</button></a></div>
    </div>
</div>

<!-- Quiz Description -->
<div class="popup" id="quiz-description-background" onclick="$displayManager(this, new fade_args({elemID: this.id, direction: 'middle', scale: 0.5, speed: 1, steps: 30}))">
    <div class="result" id="quiz-description-background-main-box">
        <img onclick="$displayManager(document.getElementById('quiz-description-background'), new fade_args({elemID: 'quiz-description-background', direction: 'middle', scale: 0.5, speed: 1, steps: 30}))" src="{% static 'icons/cancel_icon.png' %}" alt="cancel-button" align="right" title="Exit">
        <h2 name="quiz-level"></h2>
        <p class="result-detail" name="quiz-category"></p>
        <p class="result-detail" name="quiz-difficulty"></p>
        <p class="result-detail" name="total-questions"></p>
        <div align="center"><a href="#" id="startquiz"><button class="quiz-initializer-btn" title="Start Quiz">Start Quiz</button></a></div>
    </div>
</div>

<!-- Login feature-not-added message -->
<div class="popup" id="login-popup" onclick="$displayManager(this, new fade_args({elemID: this.id, direction: 'middle', scale: 0.5, speed: 1, steps: 30}))">
    <div class="result" id="login-popup-main-box">
        <p id='popupMsg' class='popupMsg'></p>
        <div align="center"><button class="quiz-initializer-btn" onclick="$displayManager(document.getElementById('login-popup'), new fade_args({elemID: 'login-popup', direction: 'middle', scale: 0.5, speed: 1, steps: 30}))">OK</button></div>
    </div>
</div>

<!-- popup message for feedback -->
<div class="popup" id="feed_popup" onclick="$displayManager(this, new fade_args({elemID: this.id, direction: 'middle', scale: 0.5, speed: 1, steps: 30})); if (initiatFeedbackEmailBox = 'off') {window.location.href = './'}">
    <div class="result" id="feed-popup-main-box">
        <p id='feed_popupMsg' class='popupMsg'></p>
        <div align="center"><button class="quiz-initializer-btn" onclick="$displayManager(document.getElementById('feed_popup'), new fade_args({elemID: 'feed_popup', direction: 'middle', scale: 0.5, speed: 1, steps: 30}))">OK</button></div>
    </div>
</div>

<!--
Admin Password
<div class="popup" id="admin-pwd-popup">
    <div class="result">
        <form>
            <p id="pwd-validation-message">enter admin password</p>
            <div><input type="password" name="admin_pwd"></div>
            <div align="center">
                <button type="submit" class="quiz-initializer-btn">confirm</button>
                <button class="quiz-initializer-btn" onclick="$displayManager(document.getElementById('admin-pwd-popup'))">dismiss</button>
            </div>
        </form>
    </div>
</div>
-->