<!-- messed with by Demiz -->

{% load static %}
{% load demiztags %}

<div class="Side-menu" id="Side-menu" >
    <h1 id="side-menu-main-header">Courses</h1>

    {% with course_list="Python,HTML,JavaScript,C++,Java,C,PHP,CSS,CSharp,SQL,Kotlin"|make_a_list %} 
        {% for i in course_list %} 
            <div class="sub-menu" onclick="showDropDown(this)">
                <span class="side-menu-headers">{{ i }}</span>
                {% for count in 1|loop:11 %}
                    <span class="menu" id="{{ i|lower }}-quiz-{{ count }}" 
                    onclick="mobileMenuLinksEventsManager(this, true)" {% if count == 1 %}  name="first-menu" {% endif %}>
                        {{ i }} quiz {{ count }}
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
    {% endwith %}
    
</div>
