@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Thin.ttf');
}

@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway.ttf');
}

@font-face {
	font-family: Comfortaa;
	src: url('fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
	font-family: OpenSans;
	src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf');
}
html {
    scroll-behavior: smooth;
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}